@font-face {
    font-family: raleway-fonts;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway-fonts;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}
